.tag1 {
    background-color: aqua;
    border: 2px solid darkblue;
    font-family: Algerian;
    color: blue;
    font-size: 30px;
}
.tag2 {
    background-color: wheat;
    border: 2px solid red;
    color: darkgray;
    font-size: 20x;
}

p {
    font-size: 20px;
    font-weight: bold;
}
button{
    /* border: 1px solid blueviolet; */
    border: none;
    padding: 2px ;
    border-radius: 20px;
    margin-top: 30px;
    
}
.p1{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    /* flex-direction: row; */
}
.p1c1{
    align-items: center;
    /* margin-right: 50px; */
}
.p1c2{
    align-items: center;
    
}